/* Layout & Scroll */

.no-scrollbar::-webkit-scrollbar { display: none }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none }
#ed { tab-size: 4; white-space: pre !important; outline: 0; overflow: auto }

/* Type */

.code-font { font: 1.625/1 'JetBrains Mono', 'Fira Code', monospace; font-variant-ligatures: none }

/* Visibility */

@media(max-width:1049px) { [data-hide-sm] { display: none !important } }
@media(min-width:1050px) { [button-show-sm] { display: none !important } }

/* Syntax */

.tk-kw { color: #c586c0 }
.tk-lit { color: #569cd6 }
.tk-bi { color: #4ec9b0 }
.tk-num { color: #b5cea8 }
.tk-str { color: #ce9178 }
.tk-com { color: #6a9955; font-style: italic }
.tk-var, .tk-fexpr { color: #9cdcfe }
.tk-func { color: #dcdcaa }